#title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.60)), url(../images/sinval-carvalho-WbEibGKHBMY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/* -----------------Typography----------------- */
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}


/* -----------------Navbar----------------- */
.container-fluid {
    padding: 1% 12%;
}

.navbar {
    margin-bottom: 14rem;
}


.nav-item {
    margin: 10px 30px;
    font-size: 1.3rem;
}

/* Navbar buttons */
.navbar-dark .navbar-nav .nav-link{
    color: #f5ece5;
    border-bottom: solid 2px transparent;
    transition: all 0.25s;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 30px;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover  {
    border-bottom: solid 2px #e67e22;
    color: #f5ece5;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
}

.navbar-dark:active .navbar-nav:active .nav-link:active  {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

/* LOGO */
.logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.logo:hover {
    letter-spacing: 0.1rem;
}
.logo:hover .logo-letter{
    color: #e67e22;
}
.logo-letter{
    transition: all 0.3s;
}

.logo-icon {
    color: transparent;
    font-size: 2.2rem;
}



/* Download button */
.btn {
    margin: 5% 3% 5% 0;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active  {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(rgba(0, 0, 0,.2));
}

/* -----------------Features----------------- */
#features {
    padding: 7% 5%;
}

.feature-container {
    text-align: center;
    padding: 5% 1%;
    line-height: 1.7;
    /* margin: 3rem 2rem; */
}

.feature-border {
    padding: 5% 5%;
    background-color: #edf4f581;
    
    border-radius: 20px;
    height: 100%;
    transition: all 0.3s;
}

.feature-border:hover {
    transform: translateY(-20px);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.feature-container:hover .feature-icon{
    transform: scale(1.05);
}

.feature-icon {
    color: #e67e22;
    margin-bottom: 1.5rem;
    transition: all 0.2s;
}

.feature-icon:hover {
    color: #FF9940;
}

.feature-icon-small {
    font-size: 30px;
}

.features-p {
    color: #8f8f8f;
}

.features-p a {
    text-decoration: none;
    color: #e67e22;
}

.features-p a:hover{
    color:#f39c12;
}