#title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../images/sinval-carvalho-WbEibGKHBMY-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

/* -----------------Typography----------------- */
body {
  font-family: "Montserrat", sans-serif;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

/* -----------------Navbar----------------- */
.container-fluid {
  padding: 1% 12%;
}

.navbar {
  margin-bottom: 14rem;
}

.nav-item {
  margin: 10px 30px;
  font-size: 1.3rem;
}

/* Navbar buttons */
.navbar-dark .navbar-nav .nav-link {
  color: #f5ece5;
  border-bottom: solid 2px transparent;
  transition: all 0.25s;
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 30px;
  padding: 1rem;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
  border-bottom: solid 2px #e67e22;
  color: #f5ece5;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
}

.navbar-dark:active .navbar-nav:active .nav-link:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* LOGO */
.logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  transition: all 1s;
}

.logo-letter {
  transition: all 0.5s;
}

.logo:hover {
  letter-spacing: 0.3rem;
}
.logo:hover .logo-letter {
  color: #e67e22;
}

.logo-icon {
  color: transparent;
  font-size: 2.2rem;
}

/* Download button */
.btn {
  margin: 5% 3% 5% 0;
  transition: all 0.3s;
}

.btn-first {
  /* border: 1px solid #E68837;
  background-color: #E68837; */
  border: 1px solid #1C1F23;
  background-color: #1C1F23;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(rgba(0, 0, 0, 0.2)); 
}

/* -----------------Features----------------- */
#features {
  padding: 7% 5%;
}

.feature-container {
  text-align: center;
  padding: 5% 1%;
  line-height: 1.7;
  /* margin: 3rem 2rem; */
}

.feature-border {
  padding: 5% 5%;
  background-color: #edf4f581;
  border-radius: 20px;
  height: 100%;
  transition: all 0.3s;
}

.feature-border:hover {
  transform: translateY(-20px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.feature-container:hover .feature-icon {
  transform: scale(1.05);
}

.feature-icon {
  color: #e67e22;
  margin-bottom: 1.5rem;
  transition: all 0.2s;
}

.feature-icon:hover {
  color: #ff9940;
}

.feature-icon-small {
  font-size: 30px;
}

.features-p {
  color: #504d4d;
}

.features-p a {
  text-decoration: none;
  color: #e67e22;
}

.features-p a:hover {
  color: #f39c12;
}

/* -----------------Products----------------- */
#products {
  text-align: center;
}

.background-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),url(../images/scissors.jpg);
}

.background-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),url(../images/brushes.jpg);
  background-color: #DEDEDC;
}

.background-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),url(../images/haircream.jpg);
  background-color: #DEDEDC;
}

.product-heading {
  color: #fff;
  font-size: 2rem;
}

.carousel-item {
  padding: 7% 15%;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.carousel-arrows {
  background-color: #e67e22;
  border-radius: 30px;
  width: 5rem;
  height: 5rem;
}

.product-link {
  width: 50%;
  text-decoration: none;
  color: #fff;
  text-align: Center;
  display: block;
  margin: 265px auto 30px;
  border: 2px solid #e67e22;
  font-size: 2.5rem;
  font-weight: 900;
  transition: all 0.4s;
}

.product-link:hover {
  color: #fff;
  background-color: #e67e22;
}

/* -----------------Subscribe----------------- */
#subscribe {
  margin: 5rem 5rem; 
}

.subscription-heading {
  text-align: center;
  color: #101d2c;
}

.card {
  margin-bottom: 2rem;
}

.card-header {
  text-align: center;
}
.sub-icon {
  color: green;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.sub-icon-red {
  color: red;
}

.subscription-price {
  color: #101d2c;
  font-size: 2.8rem;
  text-align: center;
}

.pricing-btn {
  background-color: #101d2c;
}

.marginbottom-small {
  margin-bottom: 2.5rem;
}

/* -----------------Footer----------------- */
.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 5rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}

.footer-icon {
  font-size: 2rem;
  display: block;
}

.nav__link:link, .nav__link:visited {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, .05);
  transform: translateY(-3px);
}
.copyright {
  font-size: 1.2rem;
  color: #aaa;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}

@media only screen and (max-width: 1028px) {
  .card {
    max-width: none;
  }
}
